.footer {
    color: white;
    background-color: #232F3E;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amazonImg {
    margin-top: 40px;
}

.amazonImgFooter {
    width: 110px;
}

.footerContent {
    width: 70%;
    display: flex;
    justify-content: space-between;

}

.footerContentDivs p {
    line-height: 2rem;
    font-size: 14px;

}

.footerContentDivsTitle {
    font-size: 17px;
    font-weight: 700;
    line-height: 2rem;
    text-transform: capitalize;

}